@import "styles/Variables";

.wrapper {
  display: grid;
  gap: $spacing3;

  .error {
    font-size: $font-small;
    color: $green-light;
  }

  input,
  textarea {
    border: 1px solid $green-light;
    border-radius: $border-radius;
    color: $off-white;
    background-color: transparent;
    padding: $spacing3 $spacing4;
    font-size: $font-small;

    &::placeholder {
      color: $green-light;
      opacity: 1;
    }
  }

  textarea {
    min-height: 200px;
  }

  button {
    @media screen and (min-width: $phone) {
      width: 110px;
      margin-left: auto;
    }
  }
}
