@import "styles/Variables";

.wrapper {
  background-color: $white;
  img {
    border: 1px solid $off-white;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    right: -10rem;
    transform-style: preserve-3d;
    image-rendering: optimizeQuality;
    backface-visibility: hidden;
    height: 365px;
    width: 635px;

    .image-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: inherit;
      height: inherit;
    }

    img {
      position: absolute;
      top: 0;
      border: none;
    }

    &:hover {
      img {
        border: 1px solid $off-white;
      }
    }

    .left,
    .right {
      position: relative;
    }

    .bottom,
    .side {
      position: absolute;
      background-color: $green;
    }

    .bottom {
      bottom: 0;
      width: 100%;
      height: 10px;
      transform: rotateX(90deg) translateZ(-4.7px) translateY(-5px);
    }

    .side {
      right: 0;
      top: 0;
      width: 10px;
      height: 100%;
      transform: rotateY(90deg) translateZ(4.7px) translateX(5px);
    }

    &.reverse {
      left: -10rem;

      .side {
        left: 0;
        transform: rotateY(90deg) translateZ(-5px) translateX(5px);
      }
    }
  }
}
