@import "styles/Variables";

.wrapper {
  display: grid;
  gap: $spacing8;
  width: 100%;
  margin-bottom: $spacing12;

  @media screen and (min-width: $tablet) {
    gap: $spacing10;
    margin-bottom: $spacing15;
  }

  .projects {
    display: grid;
    gap: $spacing10;

    @media screen and (min-width: $tablet) {
      gap: $spacing12;
    }
  }
}
