@import "styles/Variables";

.wrapper {
  cursor: pointer;
  font-size: $font-paragraph;
  color: $white;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: $spacing1;
  font-weight: $weight-semi-bold;

  @media screen and (min-width: $desktop-large) {
    color: $black;
  }
}
