@import "styles/Variables";

.app {
  width: 100%;
  height: calc($app-height - 0px);
  overflow: auto;
}

@media screen and (min-width: $desktop) {
  .app {
    height: calc($app-height - 60px);
  }
}
