@import "styles/Variables";

.wrapper {
  display: grid;

  .app {
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    .app {
      height: calc($app-height - 60px);
      overflow: auto;
    }
  }
}
