@import "styles/Variables";

.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: $spacing2;
  padding: $spacing2 $spacing4;
  font-weight: $weight-bold;
  border-radius: $border-radius;
  transition: 0.2s;
  margin: 0;

  &.green-light {
    border: 2px solid $green-light;
    background-color: $green-light;
    color: $black;

    &:hover {
      background-color: $white;
      border: 2px solid $white;
    }
  }

  &.border-black {
    border: 2px solid $black;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}
