@import "styles/Variables";

.wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: $spacing4;
  margin-bottom: $spacing10;

  @media screen and (min-width: 1300px) {
    margin-bottom: $spacing14;
    gap: 0;
    grid-template-columns: auto 1fr;
    min-height: calc(var(--app-height));
  }

  .left {
    display: grid;
    background-color: $black;
    color: $off-white;
    padding: $spacing3 $spacing4 $spacing8;

    @media screen and (min-width: $desktop) {
      padding: $spacing12 $spacing10 $spacing10 $spacing13;
    }

    @media screen and (min-width: 1300px) {
      width: 540px;
      padding: 0 $spacing10 0 $spacing13;
    }

    @media screen and (min-width: $desktop-extra-large) {
      padding: 0 $spacing13;
      width: 750px;
    }

    @media screen and (min-width: $desktop-huge) {
      width: 50vw;
    }

    .content {
      display: grid;
      align-self: center;
      max-width: 510px;

      .logo {
        font-size: $font-h3;
        margin-bottom: $spacing10;

        @media screen and (min-width: $desktop) {
          display: none;
        }
      }

      h1 {
        color: $white;
        margin-bottom: $spacing4;
      }

      h3 {
        font-size: 22px;
        margin-bottom: $spacing3;

        span {
          color: $green-light;
        }
      }

      .name {
        justify-self: end;
        margin-bottom: $spacing6;
      }
    }
  }

  .render {
    width: 100%;
    height: 80vw;
    align-self: center;

    @media screen and (min-width: $desktop) {
      height: 600px;
    }
  }
}
