@import "styles/Variables";

.wrapper {
  display: grid;
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  padding: $spacing3 $spacing4;
  gap: $spacing12;
  margin-bottom: $spacing14;

  @media screen and (min-width: $desktop) {
    margin-top: 25vh;
    margin-bottom: 0;
    grid-template-columns: 1fr auto;
    padding: 0 $spacing13;
    align-items: start;
    min-height: calc(var(--app-height) - 25vh);
  }

  @media screen and (min-width: $desktop-huge) {
    min-height: initial;
    margin-bottom: 25vh;
  }

  .left {
    display: grid;
    max-width: 510px;

    .logo {
      font-size: $font-h3;
      margin-bottom: $spacing10;

      @media screen and (min-width: $desktop) {
        display: none;
      }
    }

    h1 {
      margin-bottom: $spacing4;
    }

    h3 {
      font-size: 22px;
      margin-bottom: $spacing3;

      span {
        color: $green;
      }
    }

    .name {
      justify-self: end;
      margin-bottom: $spacing6;
    }
  }

  .image {
    justify-self: center;
    margin-right: $spacing6;
    max-width: 360px;

    @media screen and (min-width: $desktop) {
      justify-self: initial;
      margin-right: initial;
      transform: translateY(-100px);
    }

    @media screen and (min-width: $desktop-large) {
      margin-right: $spacing14;
    }

    @media screen and (min-width: $desktop-huge) {
      max-width: 400px;
    }

    .image {
      display: grid;
    }
  }
}
