@import "styles/Variables";

.wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: var(--app-height);
  gap: $spacing9;
  text-align: center;

  h2 {
    margin-bottom: $spacing3;
    max-width: 320px;
  }

  button {
    margin: 0 auto;
  }

  img {
    max-width: 350px;
  }
}
