@import "styles/Variables";

.wrapper {
  display: grid;
  background-color: $black;
  padding: $spacing10 0 $spacing4;

  .content {
    display: grid;
    gap: $spacing9;
    color: $off-white;
    margin-bottom: $spacing10;

    @media screen and (min-width: $desktop) {
      gap: $spacing14;
      grid-template-columns: 1fr 1fr;
      margin-bottom: $spacing12;
    }

    h1 {
      margin-bottom: $spacing1;
    }

    h2 {
      color: $green-light;
      margin-bottom: $spacing6;
    }

    .labels {
      display: grid;
      gap: $spacing2;

      .label {
        display: grid;
        grid-template-columns: 20px auto;
        justify-content: start;
        gap: $spacing1;
        align-items: center;
        color: $off-white;
      }
    }

    .contact-text {
      font-weight: $weight-semi-bold;
      margin-bottom: $spacing4;

      @media screen and (min-width: $desktop) {
        margin-bottom: $spacing7;
      }
    }

    form {
      display: grid;
      gap: $spacing3;

      input,
      textarea {
        border: 1px solid $green-light;
        border-radius: $border-radius;
        color: $off-white;
        background-color: transparent;
        padding: $spacing3 $spacing4;
        font-size: $font-small;

        &::placeholder {
          color: $green-light;
          opacity: 1;
        }
      }

      textarea {
        min-height: 200px;
      }

      button {
        @media screen and (min-width: $phone) {
          width: 110px;
          margin-left: auto;
        }
      }
    }
  }

  .copyright {
    color: $green-light;
    text-align: center;
    font-size: $font-small;
  }
}
