@import "styles/Variables";

.wrapper {
  position: fixed;
  z-index: 100;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 0 $spacing13;
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: none;
  transition: 0.2s;

  &.has-scrolled {
    background-color: $background;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);

    .logo {
      color: $black;
      span {
        border: 3px solid $black;
      }
    }

    .right {
      svg {
        color: $black;
      }

      .items {
        p {
          color: $black;
        }
      }
    }
  }

  @media screen and (min-width: $desktop) {
    display: grid;
  }

  .logo {
    color: $white;
    cursor: pointer;
    width: max-content;

    h3 {
      font-weight: $weight-bold;

      span {
        color: $white;
        width: 12px;
        height: 12px;
        margin: 0 0.9rem;
        border-radius: 100%;
        display: inline-block;
        border: 3px solid $white;
      }
    }
  }

  .right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: $spacing6;

    .items {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: $spacing9;

      p {
        cursor: pointer;
        font-size: $font-large;
        color: $white;

        @media screen and (min-width: $desktop-large) {
          color: $black;
        }
      }

      .active {
        p {
          font-weight: $weight-semi-bold;
        }
      }
    }

    svg {
      @media screen and (min-width: $desktop-large) {
        color: $black;
      }
    }
  }
}
