@import "styles/Variables";

.wrapper {
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 0 $spacing13;
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: none;

  @media screen and (min-width: $desktop) {
    display: grid;
  }

  .logo {
    cursor: pointer;
    width: max-content;
  }

  .right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: $spacing6;

    .items {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: $spacing9;

      p {
        cursor: pointer;
        font-size: $font-large;
      }

      .active {
        p {
          font-weight: $weight-semi-bold;
        }
      }
    }
  }
}
