body {
  font-family: $font;
  color: $black;
}

h1 {
  font-size: $font-h1;
}

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}

p,
a,
strong,
li,
input,
textarea,
button {
  font-weight: $weight-normal;
  font-size: $font-paragraph;
}

input,
textarea,
select {
  font-weight: $weight-normal;
  font-family: $font;
}
